<nav class="navbar navbar-expand-md navbar-dark bg-dark "> <!-- removed class mb-4 -->
  <a href="{{ site.baseurl }}/" class="navbar-brand d-flex align-items-center">
    <img class="nav-logo" src="assets/images/shoe.png" />
    <h2>Em-Dash</h2>
  </a>
    <ul class="navbar-nav mr-auto">
      {% for post in site.posts %}
      <li class="nav-item {% if post.hide_nav == true %}hidden{%endif%}">
        <a class="nav-link" href="#{{ post.slug }}">{{ post.slug }}</a>
      </li>
      {% endfor %}
    </ul>

</nav>