---
layout: default
---
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">

      <h1 class="jumbotron-heading" data-toggle="modal" data-target="#exampleModal">The Em-<em>Dash</em></h1>
      <p class="lead">A virtural 5K, 10K and mile fun run.</p>
    </div>
    <div class="bb8-race-track">
      <div class="emoji" style="left:10%">🏡</div>
      <div class="emoji" style="left:25%">🌳</div>
      <div class="emoji" style="left:40%">🏘️</div>
      <div class="emoji" style="left:55%">🏠</div>
      <div class="emoji" style="left:70%">🌳</div>
      <div class="emoji" style="left:85%">🌳</div>      
      <div class="bb8-race-car">
        <div id="bb8">🏃</div>
      </div>
    </div>
    <div class="road"></div>
  </section>

  <section class="{{ post.title|slugify }}">
    <div class="container">
      <div class="row">
        {% for post in site.posts %}
        {% if post.published == true %}
          <div class="post" id="{{post.slug}}">
            <div class="post-body">
              <h2 class="headline {% if post.hide_headline == true %}hidden{%endif%}"><!-- <a href="{{ post.url | prepend:site.baseurl }}"> -->{{ post.title }}<!-- </a> --></h2>
              {{post.content}}
            </div>
          </div>
         {% endif %}
         {% endfor %}
         <div class="post">
          <div class="post-body">
            <h2 class="headline">Join the LAT Strava club</h2>
            <div style="max-width:300px; margin: auto;">
              <iframe allowtransparency frameborder='0' height='160' scrolling='no' src='https://www.strava.com/clubs/551933/latest-rides/3ea03c11f4a19645e408d2bbfc6bf9257e331a6f?show_rides=false' width='100%'></iframe>
            </div>
          </div>
         </div>       
        </div>
    </div>
  </section>

</main>