---
layout: default
---
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">

      <h1 class="jumbotron-heading" data-toggle="modal" data-target="#exampleModal">{{ page.title }}</h1>
      <p class="lead text-muted">{{ page.description }}</p>
    </div>
    <div class="bb8-race-track">
      <div class="emoji" style="left:10%">🏡</div>
      <div class="emoji" style="left:40%">🌳</div>
      <div class="emoji" style="left:50%">🏘️</div>
      <div class="emoji" style="left:60%">🏠</div>
      <div class="emoji" style="left:80%">🌳</div>
      <div class="emoji" style="left:85%">🌳</div>      
      <div class="bb8-race-car">
        <div id="bb8">🏃</div>
      </div>
    </div>
  </section>

  <section class="{{ post.title|slugify }}">
    <div class="container">
      <div class="row">
        {% for post in site.posts %}
        {% if post.published == true %}
          <div class="post" id="{{post.slug}}">
            <div class="post-body">
              <h2 class="headline {% if post.hide_headline == true %}hidden{%endif%}"><!-- <a href="{{ post.url | prepend:site.baseurl }}"> -->{{ post.title }}<!-- </a> --></h2>
              {{post.content}}
            </div>
          </div>
         {% endif %}
         {% endfor %}         
        </div>
    </div>
  </section>

<!-- 
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="card">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScxT-eT3MBsutACJM_QJHvzyGGgXo0jMWRv3ceIfkbZ0GkvPg/viewform?embedded=true"    width="100%" 
            height="1000px" 
            frameborder="0" 
            marginheight="0" 
            marginwidth="0"></iframe>
          </div>
      </div>
    </div>
  </section> -->
</main>